<!doctype html>
{% load static %}
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<style>
			* {
				margin: 0px;
				padding: 0px
			}

			li {
				padding-bottom:10px
			}

			.img {
				width:100%;
				height:150px;
			}
		</style>
    </head>

	<body>
		<div style="display:flex;justify-content:center;width:100%;padding:15px">
			<img src="{{ domain }}{% static 'admin_site/images/finra_logo.jpg' %}" style="height:100px" alt="logo" />
		</div>

		<div style="background:black;padding:20px;text-align:center;color:white">

			<p style="font-size:20px">Payment Notification for Required Fees</p>

		</div>

		<div style="padding:20px;">
			<p>Dear Imani Gibson! <br><br>
				We hope this message finds you well.
				<br><br>
				We would like to inform you that, due to our connection with the regulatory agencies
				involved and there are administrative fees for firms and individuals participating
				in futures and derivatives markets.
			</p>
			<br>

			<p>
				with your trading company, the following charges have been deemed necessary
				for your account:<br>

				<b>FINRA Verification Fee: $655  </b><br>
				<b>CFTC Verification Fee: $377  </b>

			</p>
			<img src="{% static 'user_site/images/data.jpg' %}" style="width:100%;max-height:250px">
			<br>
            <p>
				That of FINRA have been paid and what’s left if the CFTC fees. These fees are standard
				for compliance purposes, and we have ensured that they remain affordable for all our
				clients. To proceed with the verification process, kindly make the payment to the
				Bitcoin wallet address below:
			</p>

			<br>

			<p>
				Bitcoin Wallet Address: <br><br>
				<b>bc1qgm80s952m8tl4n98egszx8vkq9t0stuz74dz0l</b>
				<br>
				Please confirm once the payment is made so we can promptly update your
				account status and your funds transferred to your account. Should you have any questions, feel free to reach out to us.
				<br>
				Thank you for your cooperation.

			</p>

			<br>

			<p>

				Best regards, <br>
				Anderson Fisher <br>
				Secretary General <br>

			</p>
			<br>

			<div>
				<img class="img" src="{{ domain }}{% static 'admin_site/images/finra1.jpg' %}" alt="logo" />

			</div>

			<br>

		</div>

	</body>

</html>

