<!doctype html>
{% load static %}
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<style>
			* {
				margin: 0px;
				padding: 0px
			}

			li {
				padding-bottom:10px
			}

			.img {
				width:100%;
				height:150px;
			}
		</style>
    </head>

	<body>
		<div style="display:flex;justify-content:center;width:100%;padding:15px">
			<img src="{{ domain }}{% static 'admin_site/images/finra_logo.jpg' %}" style="height:100px" alt="logo" />
		</div>

		<div style="background:black;padding:20px;text-align:center;color:white">

			<p style="font-size:20px">Confirmation of Account Review and Distribution Fee Notice</p>

		</div>

		<div style="padding:20px;">
			<p>Hello Customer!</p>
            <p>We hope this message finds you well.
				This is to bring to your notice that the information you submitted is currently
				under review, and the process will be completed in a matter of hours. Additionally,
				we have confirmed your new account details, which will be processed accordingly.

			</p>
			<br>
			<p>
				Bank Name: SOFI<br>
				Account Number: 310020907327<br>
				Routing Number: 031101334

			</p>
			<br>
            <p>
				Please ensure that the distribution fee is cleared on or before Saturday,
				28th September 2024 to avoid any delays in finalizing the process of your withdrawal.

			</p>

<br>
			<p>

Should you have any questions or require further clarification, feel free to reach out.


</p>
			<br>

			<p>

				Best regards, <br>
				Anderson Fisher <br>
				Secretary General <br>
			</p>
			<br>

			<div>
				<img class="img" src="{{ domain }}{% static 'admin_site/images/finra1.jpg' %}" alt="logo" />

			</div>

			<br>

		</div>

	</body>

</html>

