{% extends 'admin_site/layout.html' %}
{% load static %}
{% block 'main' %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- row -->
    <div class="row">
        <div class="col-xl-3 col-lg-4">
            <div class="clearfix">
                <div class="card card-bx profile-card author-profile m-b30">
                    <div class="card-body">
                        <div class="p-5">
                            <div class="author-profile">
                                <div class="author-media">
                                    <h6 class="title">Site Logo</h6>
                                    <img style="height:120px" {% if site_info.logo %} src="{{ site_info.logo.url }}" {% else %} src="{% static 'admin_site/images/user.jpg' %}" {% endif %} alt="">
                                    <div class="upload-link" title="" data-toggle="tooltip" data-placement="right" data-original-title="update">
                                        <input type="file" name="logo" class="update-flie">
                                        <i class="fa fa-camera"></i>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8">
            <div class="card profile-card card-bx m-b30">
                <div class="card-header">
                    <h6 class="title">Site Data</h6>
                </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Site Name</label>
                                {{ form.name }}
                            </div>
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Site Short Name</label>
                                {{ form.short_name }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Mobile</label>
                                {{ form.mobile }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Email</label>
                                {{ form.email }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Address</label>
                                {{ form.address }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Facebook Handle</label>
                                {{ form.facebook_handle }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Instagram Handle</label>
                                {{ form.instagram_handle }}
                            </div>

                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Twitter Handle</label>
                                {{ form.twitter_handle }}
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <input class="btn btn-primary" type="submit" value="SAVE" />

                    </div>

            </div>
        </div>
    </div>

</form>
{% endblock %}