{% extends 'user_site/layout.html' %}
{% load static %}
{% block 'main' %}
<section class="section register  d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="card mb-3" style="">
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4" style=";"><b style="background:white">Change Password</b></h5>
                            <p class="text-center small">.</p>
                        </div>

                        <form action="" method="POST" class="row g-3">
                            {% csrf_token %}

                            <div class="col-12">
                                <input type="password" placeholder="Enter current Password" name="current_password" autocomplete="new-password" class="form-control" required>
                                <div class="invalid-feedback">Please enter current password!</div>
                            </div>

                            <div class="col-12">
                                <input type="password" placeholder="Enter new Password" name="new_password1" autocomplete="new-password" class="form-control" required>
                                <div class="invalid-feedback">Please enter new password!</div>
                            </div>

                            <div class="col-12">
                                <input type="password" placeholder="Confirm new Password" name="new_password2" autocomplete="new-password" class="form-control" required>
                                <div class="invalid-feedback">Confirm new password!</div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-success w-100" type="submit">Change Password</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock %}