{% extends 'user_site/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}
<section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card" style="height:250px">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img width="100px" height="100" {% if user_profile.photo %} src="{{ user_profile.photo.url }}" {% else %} src="{% static 'admin_site/images/default_image.jpg' %}" {% endif %} alt="Profile" class="rounded-circle">
              <h2>{{ user_profile|title }}</h2>
              <h3>{{ user_profile.user|lower }}</h3>

            </div>
          </div>

          <a href="{% url 'user_profile_verification' %}">
            <div class="card box-hover" style="height:90px">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="icon-box icon-box-lg bg-success-light rounded">
                            <i class="fa-solid fa-shield text-success"></i>
                        </div>
                        <div class="total-projects ms-3">
                            <h3 class="text-success count fs-5">Account Verification</h3>
                        </div>
                    </div>
                </div>
            </div>
          </a>

          <a href="{% url 'user_change_password' %}">
            <div class="card box-hover" style="height:90px">
              <div class="card-body">
                  <div class="d-flex align-items-center">
                      <div class="icon-box icon-box-lg bg-success-light rounded">
                          <i class="fa-solid fa-lock text-success"></i>
                      </div>
                      <div class="total-projects ms-3">
                          <h3 class="text-success count fs-5">Update Password</h3>
                      </div>
                  </div>
              </div>
          </div>
          </a>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Bio Data</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{ user_profile|title }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Country</div>
                    <div class="col-lg-9 col-md-8">{{ user_profile.country|upper }}</div>
                  </div>
                    <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">{{ user_profile.city|title }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8"> {{ user_profile.phone_number }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ user_profile.user|lower }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form action="{% url 'user_profile_edit' user_profile.pk %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                         <img height="100px" width="100px" {% if user_profile.photo %} src="{{ user_profile.photo.url }}" {% else %} src="{% static 'admin_site/images/default_image.jpg' %}" {% endif %} alt="Profile" class="rounded-circle">

                        <div class="pt-2">
                            <input type="file" name="photo" class="form-control">
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                      <div class="col-md-8 col-lg-9">
                        {{ form.first_name }}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                      <div class="col-md-8 col-lg-9">
                        {{ form.last_name }}
                      </div>
                    </div>

                      <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Phone Number</label>
                      <div class="col-md-8 col-lg-9">
                        {{ form.phone_number }}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Country</label>
                      <div class="col-md-8 col-lg-9">
                         <select class="form-control" name="country" required id="country" ></select>

                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">City</label>
                      <div class="col-md-8 col-lg-9">
                        {{ form.city }}
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetchCountries();
    });

    async function fetchCountries() {
    try {
        const response = await fetch('https://countriesnow.space/api/v0.1/countries/positions', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        });

        const data = await response.json();
        const currentCountry = '{{user_profile.country}}';


        const countryList = document.getElementById('country');
        countryList.innerHTML = "<option value=''>---------------</option>";

        if (data.data) {
            data.data.forEach(country => {
                const listItem = document.createElement('option');
                listItem.textContent = country.name;
                listItem.value = country.name;
                listItem.setAttribute('country_code', country.iso2); // Optional: Store country code as an attribute

                if (country.name === currentCountry) {
                    listItem.selected = true;
                }

                countryList.appendChild(listItem);
            });
        }

    } catch (error) {
        console.error('Error:', error);
    }
}
</script>
{% endblock %}