{% extends 'admin_site/layout.html' %}
{% load static %}
{% block 'main' %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- row -->
    <div class="row">

        <div class="col-12">
            <div class="card profile-card card-bx m-b30">
                <div class="card-header">
                    <h6 class="title">Site Data</h6>
                </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 m-b30">
                                <label class="form-label">Email Confirmation</label>
                                {{ form.email_confirmation }}
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <input class="btn btn-primary" type="submit" value="SAVE" />

                    </div>

            </div>
        </div>
    </div>

</form>
{% endblock %}